<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <style> 
    p, ul, h1, h2, h3, h4 { color: white; }
    a { color: #d1c6ad; }
    body { background-color: rgba(85,111,122,0.97); }
    body { background-image: url('../img/dice.jpg')}
    .container { padding: 1em; }
    </style>

  
  </head>

    <body>

    
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/cv/Trisha%20Resume%20Aug%202019.pdf">CV</a></li>
        </ul>
      </nav>

      <div class="container">

        {{ content }}

      </div>

      <footer>
        <ul>
          <li><a href="mailto:trishasingh2696@gmail.com">email</a></li>
          <li><a href="https://www.linkedin.com/in/trishasingh2696/" target="_blank">linkedin</a></li>
          <li><a href="https://github.com/trishasingh" target="_blank">github</a></li>
        </ul>
      </footer>


    </body>
  

</html>
